<div>
  <a class="post" href="/projects/new">案件を登録する</a>
  <a class="entry_button">
    <%= link_to 'サインアウト', "/clients/sign_out", method: :delete %></a>
</div>
<div class="content row">
  <% @projects.each do |project| %>
    <h2><%= simple_format(project.title) %></h2>
    <%= project.content %><br/>
    <%= project.price %><br/>
    <%= project.start_day %><br/>
    <%= project.end_day %><br/><br/>
    <li><%= link_to '編集', "/projects/#{project.id}/edit", method: :get %>
    </li>
    <li><%= link_to '削除', "/projects/#{project.id}", method: :delete %>
    </li>
  <% end %>
 <%= paginate(@projects) %>
</div>
