<div>
  <a class="post" href="/projects/new">案件を登録する</a>
  <a class="post" href="/workers">コンサルタント一覧</a>

  <% if client_signed_in? %>
    <a class="entry_button">
      <%= link_to 'ログアウト（依頼主）', "/clients/sign_out", method: :delete %></a>
    <a class="client page">
      <%= link_to "マイページ（依頼主）", client_path(current_client.id) %></a>
  <% else %>
    <a class="log-in page">
      <%= link_to "ログイン（依頼主）", new_client_session_path %></a>
  <% end %>

  <% if worker_signed_in? %>
    <a class="entry_button">
      <%= link_to 'ログアウト（受注者）', "/workers/sign_out", method: :delete %></a>
    <a class="worker page">
      <%= link_to "マイページ（受注者）", worker_path(current_worker.id) %></a>
  <% else %>
    <a class="log-in page">
      <%= link_to "ログイン（受注者）", new_worker_session_path %></a>
  <% end %>
</div>
<div class="content row">
  <% @projects.each do |project| %>
    <h2><%= simple_format(project.title) %></h2>
    <%= project.content %><br/>
    <%= number_with_delimiter(project.price) %>円<br/>
    <%= project.entry_deadline %><br/>
    <%= project.start_day %><br/>
    <%= project.end_day %><br/><br/>

<% if worker_signed_in? %>
    <a href="/projects/<%= project.id %>/proposals/new">この案件に提案する</a>
<% end %>

 <% if client_signed_in? && (current_client.id == project.client_id) %>
    <li><%= link_to '編集', "/projects/#{project.id}/edit", method: :get %>
    </li>
    <li><%= link_to '削除', "/projects/#{project.id}", method: :delete %>
    </li>
 <% else %>
 <% end %>
<% end %>
 <%= paginate(@projects) %>
</div>
