<div class="container">
    <a class="btn btn-default" href="/">Topへ</a>
  <% if client_signed_in? %>
    <a class="btn btn-primary" href="/projects/new">案件を登録する</a>
    <a class="btn btn-success" href="/workers">コンサルタント一覧</a>
    <button type="button" class="btn btn-default navbar-btn"><a>
      <%= link_to 'ログアウト', "/clients/sign_out", method: :delete %></a></button>
    <button type="button" class="btn btn-default navbar-btn"><a>
      <%= link_to "マイページ", client_path(current_client.id) %></a></button>

   <% elsif worker_signed_in?%>
    <button type="button" class="btn btn-default navbar-btn"><a href="/workers">コンサルタント一覧</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a><%= link_to 'ログアウト', "/workers/sign_out", method: :delete %></a></button>
    <button type="button" class="btn btn-default navbar-btn"><a>
      <%= link_to "マイページ", worker_path(current_worker.id) %></a></button>

   <% else %>
    <a class="btn btn-info" href="/projects/new">案件を登録する</a>
    <a class="btn btn-primary" href="/workers/sign_in">案件にエントリーする</a>
    <a class="btn btn-default" href="/workers">コンサルタント一覧</a>　　　　　　　　　　　
    <button type="button" class="btn btn-default navbar-btn"><a>
      <%= link_to "依頼主としてログインする", new_client_session_path %></a></button>
    <button type="button" class="btn btn-default navbar-btn"><a><%= link_to "受注者としてログインする", new_worker_session_path %></a></button>
  <% end %>
</div>
<div class="container">
  <% @projects.each do |project| %>
    <h2>プロジェクト名：<%= project.title %></h2>
    プロジェクトの内容：<%= project.content %><br/>
    予算：<%= number_with_delimiter(project.price) %>円<br/>
    エントリー締切日：<%= project.entry_deadline %><br/>
    開始希望日：<%= project.start_day %><br/>
    納品希望日：<%= project.end_day %><br/><br/>

    <% if worker_signed_in? %>
    <% unless project.proposals.exists?(worker_id: current_worker.id) %>
    <% if Date.today <= project.entry_deadline %>
        <p>エントリー数：<%= project.proposals.count %>件</p>
        <a href="/projects/<%= project.id %>/proposals/new">この案件に提案する</a>
    <% else %>
    <% end %>
    <% else %>
        <p>エントリー数：<%= project.proposals.count %>件</p>
        <a>※この案件には提案済みです。</a>
    <% end %>
    <% end %>

    <% if Date.today > project.entry_deadline %>
      <a>※この案件へのエントリーは終了しました。</a>
    <% end %>

   <% if client_signed_in? && (current_client.id == project.client_id) %>
      <li><%= link_to '編集', "/projects/#{project.id}/edit", method: :get %>
      </li>
      <li><%= link_to '削除', "/projects/#{project.id}", method: :delete %>
      </li>
   <% else %>
      <p>エントリー数：<%= project.proposals.count %>件</p>
   <% end %>
  <% end %>
 <%= paginate(@projects) %>
</div>
