<div class="container">
<button type="button" class="btn btn-default navbar-btn"><a href="/projects">案件一覧に戻る</a></button>
<div class="content row">
  <% @workers.each do |worker| %>
    <h2><%= simple_format(worker.name) %></h2>
    <div><%= image_tag(worker.avatar(:thumb)) %>
</div>
    専門業界：<%= worker.specialized_industry %><br/>
    専門テーマ：<%= worker.specialized_theme %><br/>
 <button type="button" class="btn btn-default navbar-btn"><%= link_to '詳細プロフィール', "/workers/#{worker.id}" %></button>

 <% if worker_signed_in? && (current_worker.id == worker.id) %>
    <button type="button" class="btn btn-default navbar-btn"><%= link_to '編集', "/workers/#{worker.id}/edit", method: :get %></button>
 <% else %>
 <% end %>
<% end %>
 <%= paginate(@workers) %>
</div>