<a class="top" href="/projects">案件一覧に戻る</a>
<a class="top" href="/workers">コンサルタント一覧に戻る</a>
<div><%= image_tag(@worker.avatar(:medium)) %>
</div>
<p>氏名：<%= @worker.name %></p>
<p>性別：<%= @worker.sex %></p>
<p>年齢：<%= @worker.age %></p>
<p>専門業界：<%= @worker.specialized_industry %></p>
<p>専門テーマ：<%= @worker.specialized_theme %></p>
<p>自己紹介：<%= @worker.self_introduction %></p>
<p>メールアドレス：<%= @worker.email %></p>
<% if current_worker %>
  <% if current_worker.id == @worker.id %>
  <div><%= link_to "プロフィール編集", edit_worker_path(current_worker) %></div>
  <% end %>
<% end %>